// Menu-header
.mobyle__button {
  display: flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobyle__icon-cross {
  display: none;
}
.mobyle__button.is-open .mobyle__icon-cross {
  display: block;
}

.mobyle__button.is-open .mobyle__icon-menu {
  display: none;
}

// ______________________________

.mobyle__menu {
  position: absolute;
  top: 100%;
  left: 0;

  padding: 48px 40px;

  max-width: 480px;
  width: 100%;

  text-align: center;
  background-color: #fff;
}

@include device(tablet_only) {
  .mobyle__button,
  .mobyle__menu {
    display: none;
  }
}

@include device(desktop) {
  .mobyle__button,
  .mobyle__menu {
    display: none;
  }
}
