.features {
  background-color: var(--backgr-work);

  @include device(mobyle) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include device(tablet) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include device(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  @include device(mobyle) {
    display: block;
  }

  @include device(tablet) {
    display: flex;
  }

  @include device(desktop) {
    display: flex;
  }
}

/* прибрати крапки в списках*/
.features__item {
  list-style-type: none;

  @include device(mobyle) {
    width: 100%;

    margin-bottom: 30px;
  }

  @include device(tablet) {
    width: 354px;

    margin-bottom: 30px;
  }

  @include device(desktop) {
    width: 270px;
  }
}

// Відступи між особливостями
@include device(desktop) {
  .features__item + .features__item {
    margin-left: 30px;
  }
}

@include device(tablet) {
  .features__item + .features__item {
    margin-left: 30px;
  }
}

// _______________________________________

.features__second-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;

  margin-bottom: 10px;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

/*SVG - Наши особенности*/
.features__bgr-icon {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin-bottom: 30px;
  border-radius: 4px;
}
